{% extends "register/base.html" %}
{% block title %}パスワード再設定メール送信完了ページ{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-1 col-md-2"></div>
        <div class="col-10 col-md-8 h-25 text-center">
            <div class="text-center my-5">
                <a class="noline" href="{% url 'register:top' %}">Freelanze</a>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div>
        <div class="card col-10 col-md-8 h-25">
            <div class="card-body text-center">
                <h6 class="card-title mb-0 mt-2">メール送信完了</h6>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
        <div class="card col-10 col-md-8 h-25">
            <div class="card-body text-center">
                <div class="card-body py-2">
                    <p>
                        パスワード再設定用の<br>メールを送信いたしました。<br>
                        メールに記載されているリンクから<br>パスワードの再設定を行ってください。
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
        <div class="col-10 col-md-8 h-25">
            <div class="text-center">
                <h6 class="my-5">メールのご確認をお願いいたします。</h6>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>
</div>
{% endblock %}