{% extends "register/base.html" %}
{% block title %}パスワード再設定申請ページ{% endblock %}
{% block content %}
<div class="container mt-n4">
    <div class="row">
        <div class="col-1 col-md-2"></div>
        <div class="col-10 col-md-8 h-25 text-center">
            <div class="text-center mt-1 mb-5">
                <a class="noline" href="{% url 'register:top' %}">Freelanze</a>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div>
        <div class="card col-10 col-md-8 h-25">
            <div class="card-body text-center">
                <h6 class="card-title mb-0 mt-2">パスワードをお忘れの方</h6>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
        <div class="card col-10 col-md-8 h-25">
            <div class="card-body text-center">
                <div class="card-body py-2 text-center">
                    <form action="" method="POST">
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">パスワードを再設定する為にご登録時のメールアドレスをご入力下さい。</label>
                            <div class="input_size1">{{ field }}</div>
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <div class="button_text_size2">送信する</div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
        <div class="col-10 col-md-8 h-25">
            <div class="text-center">
                <h6 class="my-5">ご入力いただいたメールアドレスへ<br>メールをお送りいたします。</h6>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>
</div>
{% endblock %}