{% extends "register/base.html" %}
{% block title %}パスワード再設定完了ページ{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-1 col-md-2"></div>
        <div class="col-10 col-md-8 h-25 text-center">
            <div class="text-center my-5">
                <a class="noline" href="{% url 'register:top' %}">Freelanze</a>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div>
        <div class="card col-10 col-md-8 h-25">
            <div class="card-body text-center">
                <h6 class="card-title mb-0 mt-2">パスワード変更完了</h6>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
        <div class="card col-10 col-md-8 h-25">
            <div class="card-body text-center">
                <div class="card-body py-2">
                    <p>パスワードの再設定を完了いたしました。</p>
                </div>
                <div class="card-body py-2">
                    <form action="{% url 'register:login' %}" method="POST">
                        <div class="input_size1" style="width:300px;">
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            {{ field }}
                            {{ field.errors }}
                        <br>
                        {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-danger btn-lg" style="width:300px;">
                            <div class="button_text_size2">新しいパスワードでログイン</div>
                        </button>
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% csrf_token %}
                    </form>
                </div>

            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
        <div class="col-10 col-md-8 h-25">
            <div class="text-center">
                <h6 class="my-5"></h6>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>
</div>
{% endblock %}