{% extends "register/base.html" %}
{% block title %}ユーザーの詳細{% endblock %}
{% block content %}
<!-- ナビバー -->
<nav class="navbar navbar-light bg-white fixed-top shadow-sm">
    <div class="container">

        <div class="row w-100 w-sm-75 mx-auto">

            <div class="col-4 col-sm-4 order-sm-0">
                <a class="navbar-brand" href="{% url 'register:top' %}">
                    <img src="https://django-for-s3.s3-ap-northeast-1.amazonaws.com/static/media/freelanzeicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Freelanze
                </a>
            </div>

            <div class="col-8 col-sm-8 order-sm-3">
                <div class="float-right pt-1">
                    {% if user.is_authenticated %}
                    <a class="btn btn-outline-primary" id="name11" href="{% url 'register:user_detail' user.pk %}" role="button"><font size="2">マイページ</font></a>
                    <a class="btn btn-danger" href="{% url 'register:logout' %}" role="button"><font size="2">ログアウト</font></a>
                    {% else %}
                    <a class="btn btn-success" href="{% url 'register:Guest_login' %}" role="button"><font size="2">Guest</font></a>
                    <a class="btn btn-outline-primary" href="{% url 'register:login' %}" role="button"><font size="2">ログイン</font></a>
                    <a class="btn btn-danger" href="{% url 'register:sign_up' %}" role="button"><font size="2">新規会員登録</font></a>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-sm-8 order-sm-1">
                <form class="form-inline my-0 pt-1" action="/search" method="get" accept-charset="utf-8">
                    <div class="form-group mb-0 flex-grow-1">
                        <input id="form" name="q" value="{{ request.GET.q }}" type="text" class="col-12 form-control mr-sm-2" placeholder="キーワードで検索" aria-label="検索...">
                    </div>
                    <button type="submit" class="btn btn-outline-info my-0">検索</button>
                </form>
            </div>

            <div class="col-5 col-sm-4 order-sm-2"><!--ドロップダウンボタン部分-->
                <div class="btn-group pt-1">
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <font size="2">スキルで絞り込む</font>
                    </button>
                    <form class="form-inline my-2 my-lg-0" action="/search" method="get" accept-charset="utf-8">
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="submit" value="1" name="q">Webデザイナー</button>
                            <button class="dropdown-item" type="submit" value="2" name="q">PG(フロントサイド)</button>
                            <button class="dropdown-item" type="submit" value="3" name="q">PG（サーバーサイド）</button>
                            <button class="dropdown-item" type="submit" value="4" name="q">デザイナー</button>
                            <button class="dropdown-item" type="submit" value="5" name="q">フォトグラファー</button>
                            <button class="dropdown-item" type="submit" value="6" name="q">イラストレーター</button>
                            <button class="dropdown-item" type="submit" value="7" name="q">ライター</button>
                            <button class="dropdown-item" type="submit" value="8" name="q">ブロガー</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- ナビバー終了 -->


<div class="container">
    <div class="row">
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
        <div class="card col-10 col-md-8 h-25">
            <div class="text-image" style="background: url(https://django-for-s3.s3-ap-northeast-1.amazonaws.com/static/media/background-image.png);">
                <div class="text-center">
                    {% if user.top_image %}
                    <img class="detail_top_image mt-3" src="{{ user.top_image.url }}">
                    {% else %}
                    <img class="detail_top_image mt-3" src="https://django-for-s3.s3-ap-northeast-1.amazonaws.com/static/media/unknown_image.png"><!--デフォルトアンノーン画像表示 -->
                    {% endif %}
                    <div class="detail_name"><h4>{{ user.nick_name }}</h4></div>
                </div>
            </div>
            <div class="card-body">
                {% if user.self_introduction %}
                <div class="card-body py-5">
                    <div class="pr row"><h3>概要</h3></div>
                    <div class="pr row">{{ user.self_introduction | linebreaksbr}}</div>
                </div>
                {% endif %}

                {% if user.portfolio %}
                <div class="card-body py-2">
                    <div class="pf row"><h3>作品など</h3></div>
                    <div class="pf row">{{ user.portfolio | linebreaksbr}}</div>
                </div>
                {% endif %}
                <div class="card-body py-4">
                    <div class="job row">
                        <h4>
                        職種：{{ user.get_skill_display }}<br>
                        活動場所：{{ user.get_area_display }}<br>
                        依頼料：{{ user.get_request_fee_display }}<br>
                        </h4>
                    </div>
                </div>
                <div class="card-body py-5 text-center">
                    <a href="mailto:{{ product.email }}">
                        <button type="submit" class="btn btn-outline-info my-2 my-sm-0" style="width:300px;">直接メールでお仕事の依頼をする</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
        <div class="card col-10 col-md-8 h-25">
            <div class="card-body text-center">
                {% if user.twitter %}
                <a href="{{ user.twitter }}"><i class="fab fa-twitter fa-3x my-example fa-fw"></i></a>
                {% endif %}
                {% if user.instagram %}
                <a href="{{ user.instagram }}"><i class="fab fa-instagram fa-3x my-example fa-fw"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

</div>
{% endblock %}