{% extends "register/base.html" %}
{% block title %}マイプロフィール確認ページ{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-1 col-md-2"></div>
        <div class="col-10 col-md-8 h-25">
            <div class="text-center mt-1 mb-5">
                <a class="noline" href="{% url 'register:top' %}">Freelanze</a>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div>
        <div class="card col-10 col-md-8 h-25">
            <div class="card-body text-center">
                <h3 class="card-title my-3">マイプロフィール</h3>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
        <div class="card col-10 col-md-8 h-25">
            <div class="text-image" style="background: url(https://aws-s3-freelanze.s3-ap-northeast-1.amazonaws.com/media/background-image.png);">
                <div class="text-center">
                    {% if user.top_image %}
                    <img class="detail_top_image mt-3" src="{{ user.top_image.url }}">
                    {% else %}
                    <img class="detail_top_image mt-3" src="https://aws-s3-freelanze.s3-ap-northeast-1.amazonaws.com/media/unknown_image.png"><!--デフォルトアンノーン画像表示 -->
                    {% endif %}
                    <div class="detail_name"><h4>{{ user.username }}</h4></div>
                    <div class="detail_name"><h6>{{ user.last_name }} {{ user.first_name }}</h6></div>
                </div>
            </div>
            <div class="card-body">
                {% if user.self_introduction %}
                <div class="card-body py-5">
                    <div class="pr row"><h3>概要</h3></div>
                    <div class="pr row">{{ user.self_introduction | linebreaksbr}}</div>
                </div>
                {% endif %}

                {% if user.portfolio %}
                <div class="card-body py-2">
                    <div class="pf row"><h3>作品など</h3></div>
                    <div class="pf row">{{ user.portfolio | linebreaksbr}}</div>
                </div>
                {% endif %}
                <div class="card-body py-4">
                    <div class="job row">
                        <h4>
                        職種：{{ user.get_skill_display }}<br>
                        活動場所：{{ user.get_area_display }}<br>
                        依頼料：{{ user.get_request_fee_display }}<br>
                        </h4>
                    </div>
                </div>
                    {% if user.twitter %}
                    <a href="{{ user.twitter }}"><i class="fab fa-twitter fa-3x my-example fa-fw"></i></a>
                    {% endif %}
                    {% if user.instagram %}
                    <a href="{{ user.instagram }}"><i class="fab fa-instagram fa-3x my-example fa-fw"></i></a>
                    {% endif %}
                <div class="card-body py-5 text-center">
                    <a href="{% url 'register:user_update' user.pk %}" class="btn btn-danger">
                        <div class="button_text_size1">内容を編集する</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>

    <div class="row">
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
        <div class="col-10 col-md-8 h-25">
            <div class="text-center">
                <h6 class="my-5">プロフィールを充実させて、<br>{{ user.username }}さんを最大限アピールしましょう。</h6>
            </div>
        </div>
        <div class="col-1 col-md-2"></div><!--  コンテナサイズ調整用からコンテナ -->
    </div>
</div>
{% endblock %}